<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UFRJ - Lista de pessoas e alunos</title>
    <link href="{{ url_for('static', filename='bulma.css') }}" rel="stylesheet">
  </head>
  <body>

    <section class="hero is-bold is-danger  is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="logotitle"> <br>
            <h1 class="title">
              Lista de Alunos e Pessoas
            </h1>
            <h2 class="subtitle">
              Trabalho desenvolvido para a disciplina de Linguagens de Programação <br>
              Escola Politécnica - Universidade Federal do Rio de Janeiro <br>
            </h2>
          </div>

          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="/">
                Home
              </a>
              <a class="navbar-item" href="insert">
                Inserir Pessoa/Aluno
              </a>
              <a class="navbar-item is-active" href="remove">
                Remover Pessoa/Aluno
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h2 class="title">
          Remover Pessoa
        </h2>
        <form class="" action="out1" method="post">
          <input class="input is-large" name="out1" type="text" placeholder="RG DA PESSOA">
          <div class="control">
            <button class="button is-link">Enviar dados</button>
          </div>
        </form>
        <br>
        <h2 class="title">
          Remover Aluno
        </h2>
        <form class="" action="out2" method="post">
          <input class="input is-large" name="out2" type="text" placeholder="DRE DO ALUNO">
          <div class="control">
            <button class="button is-link">Enviar dados</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <h4>Desenvolvido por William Barbosa de Macedo - DRE 113090099</h4>
          <h4>Engenharia Eletrônica e de Computação - POLI/UFRJ</h4>
        </div>
      </nav>
    </div>
  </section>

  </body>
</html>
